VITE_FIREBASE_API_KEY=AIzaSyAuIJ4rON_RWKADbYjV7AfaX4MZoUMfcJo
VITE_FIREBASE_AUTH_DOMAIN=attendance-108ba.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=attendance-108ba
VITE_FIREBASE_STORAGE_BUCKET=attendance-108ba.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=583226584419
VITE_FIREBASE_APP_ID=1:583226584419:web:875278b298151a52ef7756
