rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /organisations/{orgId}/{allPaths=**} {
      allow read, write: if request.auth != null
        && (firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.orgId == orgId
            || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.currentOrgId == orgId);
    }

    match /requests/{orgId}/{allPaths=**} {
      allow read, write: if request.auth != null
        && (firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.orgId == orgId
            || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.currentOrgId == orgId);
    }

    match /orgs/{orgId}/{allPaths=**} {
      allow read, write: if request.auth != null
        && (firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.orgId == orgId
            || firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.currentOrgId == orgId);
    }
  }
}
