@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&family=Product+Sans:wght@400;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #f7f8fb;
}

.font-google-sans {
  font-family: 'Product Sans', 'Google Sans', sans-serif;
}
